{% extends "index.html" %}
{% block content %}

<div class="mx-auto text-center">
    <img class="w-50 m-5" src="{{url_for('static', filename='./images/porncomixinfo.png')}}" alt="">
</div>
<div class="alert alert-primary w-75 mx-auto" role="alert">
    <p>step 1: Go to the website</p>
    <p>step 2:Click on the comic which you like</p>
    <p>step 3:select page style to list</p>
    <p>step 4:Copy the url of that comic that you have open/p>
    <p>step 5:Come back to Comix Scrapper website</p>
    <p>step 6:Paste that url and click on that download button</p>
    <p>step 7:Do not refresh website after sending download request</p>
    <p>step 8:Please keep patiences until your pdf gets ready</p>
    
  </div>
  <div class="text-center">
    <a href="https://porncomixinfo.net/" target="_blank">
    <button type="button" class="btn btn-primary">visit webiste</button>  
    </a>
</div> 
    <div class="inputs mb-3 p-5 text-center">
        <form action="/porncomix_download" method="POST">
            <input class="w-75 p-2 text-center" name="search" placeholder="Enter url" type="url" validate>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" id='myBtn'>Download</button>   
        </form> 
    </div>
{%endblock%}